#flex-direction-row, #flex-direction-row-reverse, #flex-direction-column, #flex-direction-column-reverse{
	display:flex;
}
 #flex-direction-row-reverse{
	 flex-direction:row-reverse;
 }
 #flex-direction-column{
	flex-direction:column;
 }
#flex-direction-column-reverse{
	 flex-direction:column-reverse;
 }
#flex-direction-row img,  #flex-direction-row-reverse img, #flex-direction-column img, #flex-direction-column-reverse img {
	width:500;
	height:auto;
}
#flex-direction-row figcaption,  #flex-direction-row-reverse figcaption, #flex-direction-column figcaption, #flex-direction-column-reverse figcaption{
	background-color:lightgray;
	color:white;
	text-align:center;
}
.container{
	display:flex;
	flex-wrap: wrap;
	width:100%;
	height:30%;
}

