 section{
	display:flex;
	background-color:lightgray;
	display:flex;
}


 div section article{
	 background-color:rgba(20%, 10%, 100%, 0.5);
	 margin:0.2%;
	 color:white;
 }
div:nth-child(3) section article {
	width:150px;
 }
div:nth-child(4) section article {
	flex:1;
 }
 div section article:hover{
	 background-color:rgba(20%, 10%, 100%, 1.0);
	cursor:pointer;
 }
 body{
	 /*display:flex;
	 flex-flow: row wrap;*/
 }